{
  "env": {
    "browser": 1
  },
  "globals": {
    "Backbone": 1,
    "$": 1,
    "_": 1,
    "kp": 1,
    "it": 1,
    "require": 1,
    "describe": 1,
    "module": 1
  },
  "rules": {
    "brace-style": 1,
    "new-cap": [2, {"capIsNewExceptions": ["Deferred"]}],
    "camelcase": [2, {"properties": "never"}],
    "comma-style": 1,
    "consistent-this": [1, "_this"],
    "curly": 1,
    "default-case": 1,
    "dot-notation": 1,
    "eol-last": 1,
    "indent": [2, 2],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "newline-after-var": [1, "always"],
    "no-alert": 0,
    "no-caller": 1,
    "no-delete-var": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-floating-decimal": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": 1,
    "no-native-reassign": 1,
    "no-nested-ternary": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-undef": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "no-void": 1,
    "no-with": 1,
    "one-var": [1, "never"],
    "quote-props": [1, "as-needed"],
    "quotes": [2, "single"],
    "radix": 1,
    "semi": 2,
    "strict": [2, "never"],
    "space-after-keywords": 1,
    "space-before-blocks": 1,
    "space-in-brackets": 1,
    "space-in-parens": 1,
    "spaced-line-comment": 1,
    "wrap-iife": 1,
  }
}
